

  .ticket{
    position:relative;
    background:black;
    width: 350px;
    height:350px;
    box-shadow: 0px 10px 40px rgba(0,0,0,.4);
  }
  
 
  
  .flight-locations{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:-20px;
  }
  
  canvas{
    position:absolute;
    z-index:0;
  }
  
