@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #c0c0c0;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 0.1px;
  background-color: transparent;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Safari */
@media not all and (min-resolution: 0.001dpcm) {
  body::-webkit-scrollbar {
    width: 0.1px;
    background-color: transparent;
  }
}

.main {
  font-family: "Montserrat", sans-serif;
}
.container2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.custom-cursor {
  mix-blend-mode: difference;
  z-index: 70000;

  pointer-events: none;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%);
}
.content h2 {
  color: #c0c0c0;

  position: absolute;
  transform: translate(-50%, -50%);
}
.fonty {
  font-family: "Playfair Display", serif;
}
.stroked {
  color: transparent;
  -webkit-text-stroke: 2px #c0c0c0;
}

.stroker {
  color: #c0c0c0;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.bounce span {
  display: inline-flex;
  color: #c0c0c0;
  animation: bounce 3s;
}
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
}
.ten span:nth-of-type(7) {
  animation-delay: 0.7s;
}
.ten span:nth-of-type(8) {
  animation-delay: 1s;
}
.tilt:hover {
  filter: brightness(2) saturate(0%);
}
video {
  object-fit: fill;
}

.vertical-line {
  width: 100%;
  height: 1px;
  background-color: #696969b9;
}
.trans {
  background-color: rgba(128, 128, 128, 0.116);
  border: 1px solid rgba(128, 128, 128, 0.616);
}
.trans2 {
  border: 1px solid rgba(128, 128, 128, 0.616);
}
.tap {
  width: 0;
}
.parent:hover .hh .tap {
  width: 100%;
  background-color: #fff;
}
.slanted-div {
  width: 200px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-color: #f1f1f1; /* Adjust the background color as needed */
  position: relative;
  overflow: hidden;
}

.slanted-div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1; /* Same as div's background color */
  transform-origin: top left;
  transform: skewY(-5deg); /* Adjust the skew angle as needed */
  z-index: -1;
}
@media (max-width: 500px) {
  .fonter {
    font-family: "Playfair Display", serif;
  }
}
.change {
  animation: color-change 6s infinite;
}
.change:hover {
  color: rgb(57, 57, 236);
}
.parent:hover .tooltip {
  opacity: 1;
  z-index: 10;
}
